@import url('https://fonts.googleapis.com/css2?family=Acme&family=Fredoka:wght@300&family=Roboto+Mono:ital,wght@1,100&family=Sacramento&display=swap');

*{
    box-sizing: border-box;
}

.navbar .container{
	display: flex;
	justify-content: center;
	background-color:
}

.navbar ul {
    padding: 0;
    margin: 0;
}
.navbar li {
    display: inline;
	padding-right: 1em;
	padding-left: 1em;
}

.navbar a {
    text-decoration: none;
	font-size: 1.3em;
	color: white;
}
.navbar a:hover {
	font-weight: bold;
}
.current{
	font-weight: bold;
}

h1{
    text-align: center;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}
body {
    margin: 40px;
    font-family: 'Roboto', sans-serif;
 }

.table_responsive{
    max-width: 900px;
    border: 1px solid #00bcd4;
    background-color: #efefef33;
    padding: 15px;
    overflow:auto;
    margin: auto;
    border-radius: 4px;
    
 }
 
table{
    width: 100%;
    font-size: 13px;
    color: O#444;
    white-space: nowrap;
    border-collapse: collapse ;
}

table>thead{
    background-color: #d4c00e;
    color: rgb(83, 41, 41);
}

table>thead th{
    padding: 15px;
}

table th,
table td{
    border: 1px solid #00000017;
    padding: 10px 15px;
    text-align: center;
}
table>tbody>tr>td>img{
    display: inline-block;
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 0 2px 6px #0003;
}

.action_btn{
    display: flex;
    justify-content: center;
    gap: 10px;
 }

.action_btn>a{
     text-decoration: none;
     color: #444;
     background:#fff;
     border: 1px solid orange;
    display: inline-block;
    padding: 5px 15px;
    font-weight: bold;
    border-radius: 143px;
    transition: 0.3a ease-in-out;
}

.action_btn>a:nth-child(1) {
    border-color: O#26a69a;
}
.action_btn>a:nth-child(2) {
    border-color: orange;
}

.action_btn>a:hover{
    box-shadow:0 3px 8px #0003;
    background: rgb(133, 133, 104);
    color: white;
}

table>tbody>tr{
    background-color: #fff;
    transition: 0.3s ease-in-out;
}

table>tbody>tr:nth-child(even){
    background-color: rgb(238, 238, 238);
}

table>tbody>tr:hover{
    filter: drop-shadow(16px 16px 20px black);
}
        
.btn {
    background: #d6d934;
    background-image: -webkit-linear-gradient(top, #d6d934, #2cb895);
    background-image: -moz-linear-gradient(top, #d6d934, #2cb895);
    background-image: -ms-linear-gradient(top, #d6d934, #2cb895);
    background-image: -o-linear-gradient(top, #d6d934, #2cb895);
    background-image: linear-gradient(to bottom, #d6d934, #2cb895);
    -webkit-border-radius: 25;
    -moz-border-radius: 25;
    border-radius: 25px;
    font-family: Georgia;
    color: white;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid black 4px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -20%);
    text-align: center;
  }
  
  .btn:hover {
    background: #fc7c3c;
    text-decoration: none;
}