@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --primary-color: #29a329;
  --secondary-color: #FFD966;
}

body {
  background: #E6E6E6;
  margin: 0;
  font-family: 'Poppins';
}

.navbar {
  background: white;
  padding: 1em;
}

.navbar .container{
	display: grid;
	grid-template-columns: auto auto ;
}

.navbar .item1 {
	text-align:left;
}

.navbar .item1 img{
	height: 2em;
	width: 2em;
	border: 1px solid black;
	border-radius: 50%;
	display: block;
}

.navbar .item1-flex{
	display: flex;
	justify-content: flex-start;
}

.navbar .item1-flex a{
	padding-left: 1em;
	text-decoration: none;
	font-weight: bold;
	color: var(--secondary-color);
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: 1.2em;
}

span {
  color: var(--primary-color);
}

.navbar .item2{
	display: none;
}

.navbar .item3 {
	text-align:right;
}

.navbar2 {
	background: white;
	padding: 1em;
    border-top-style: solid;
	border-width: thin;
}

.navbar2 .container{
	display: grid;
	grid-template-columns: auto auto;
}

.navbar2 .item1{
	display:none;
}

.navbar2 .item2{
	text-align:right;
	padding-right: 1em;
}

.navbar2 .item2 .cart{
	display: none;
}

.navbar2 .item3{
	text-align:center;
}

.navbar2 .item3-flex {
	display: flex;
	justify-content: center;
	background: none;
	padding: 0;
}
	
.navbar2 .item3 ul{
	display:incline;
	padding: 0;
	margin: 0;
}
.navbar2 .item3 li {
	display: inline;
}
	
.navbar2 .item3 li a{
	color: black;
	font-size: 1em;
	padding: .1em 1em;
	text-decoration: none;
}
	
.navbar2 li.current a {
	font-weight: bold;
	vertical-align: middle;
}
	
.navbar2 .item3 li a:hover {
	font-weight: bold;
}

.navbar2 input[type=text] {
	width: 5em;
	overflow:scroll;
}

.navbar2 img{
	height: 2em;
	width: 2em;
}

section {
  padding: 5em 3em;
}

.aisle-section li {
	display:block;
  background: var(--primary-color);
  text-align: center;
  padding: 2em 1em;
  width: 80%;
  margin: 0 auto 5em auto;
  border-radius: 1em;
}

.aisle-section ul{
	padding:0;
	margin:0;
}

.aisle-section .cart-image2{
	height: 2em;
	width: 2em;
}

.aisle-section .spot-flex{
	display: flex;
	justify-content: center;
	margin-top: 1em;
}

.aisle-section .spot-flex img{
	height: 2em;
	width: 2em;
}

.aisle-section .spot-flex .cart{
	align-self: center;
	padding-left: 4em;
}

.aisle-section li .spot1 img{
  border: 2px solid black;
  border-radius: 2em;
  width: 90%;
	height: 100%;
}

.aisle-section p{
	font-size: 1.2em;
}

.aisle-section .cart1{
	color: white;
	text-decoration: none;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.aisle-section .cart1:hover{
	font-weight: bold;
}

.info-section{
	padding: 1em 2em 5em 2em;
	background: white;
}

.info {
	display: block;
}

h2 {
  font-size: 2em;
}

ul.know-us{
	margin:0;
	padding-left: .1em;
	display: block;
}

ul.know-us li{
	font-size: 1.1em;
	margin-bottom: 1em;
	margin-left:2em;
	position: relative;
	display: block;
}

ul.know-us a{
	text-decoration: none;
	color: black;
}

ul {
	list-style-type: none;
}

.info-section .info li a:hover {
	font-weight: bold;
}

.item2.menu-btn {
	display: block;
}

.itme2 {
	position: fixed;
}

.item2 .item2-flex1 {
	position : fixed;
	z-index: 998;
	right: 0;
	top: 0;
	background: #20272E;
	height: 100vh;
	padding: 1em;
} 
.navbar .item2 img {
	position : fixed;
	z-index: 999;
	right: 0;
	top: 0;
	padding: 1em;
} 

.item2 ul.primary-nav{
	margin-top: 5em;
	margin-bottom: 0;
}

.item2 ul.secondary-nav{
	margin: 0;
}

.item2 li a{
	color: white;
	text-decoration: none;
	display: block;
	padding: .5em;
	font-size: 1.3em;
	text-align: right;
}

.item2 li a:hover{
	font-weight: bold;
}

.mobile-menu-exit {
	margin: .5em;
	cursor: pointer;
}

.mobile-menu{
	cursor: pointer;
}

@media only screen and (min-width: 768px){
	
	.itme2 {
		all: unset;
	}

	.item2 .item2-flex1 {
		all: unset;
	} 
	.navbar .item2 img {
		display: none;
	} 

	.item2 ul.primary-nav{
		all: unset;
	}

	.item2 ul.secondary-nav{
		all: unset;
		text-align: right;
	}

	.item2 li a{
		all: unset;
		cursor: pointer;
	}	

	.mobile-menu-exit {
		display: none;
	}
	
	.navbar .item2{
	display: block;
	}
	
	.navbar .item2-flex1 {
		display: flex;
		justify-content: space-between;
		background: none;
		padding: 0;
	}
	
	.navbar .item2 ul{
		display:incline;
		padding: 0;
		margin: 0;
	}
	.navbar .item2 li {
		display: inline;
	}
	
	.navbar .item2 li a{
		color: black;
		font-size: 1em;
		padding: .1em 1em;
		text-decoration: none;
	}
	
	.navbar li.current a {
		font-weight: bold;
	}
	
	.navbar .item2 li a:hover {
		font-weight: bold;
	}
	.navbar .container{
		display: grid;
		grid-template-columns: auto auto ;
	}
	
	.navbar .item3{
		display: none;
	}
	
	section {
		padding: 7em 7em;
	}
	
	.navbar2 .item2 .cart{
		display: inline;
	}
	
	.navbar2 a{
		text-decoration: none;
		padding-left: .5em;
		color: black;
		vertical-align: middle;
	}
	
	.navbar2 .item2  a:hover {
		font-weight: bold;
	}
	
	.navbar2 .container{
		display: grid;
		grid-template-columns: 70% 30%;
	}
	
	.aisle-section ul{
		padding:0;
		margin:0;
		display: grid;
		grid-template-columns: auto auto;
	}
	
	.aisle-section li .spot1 img{
		border: 2px solid black;
		border-radius: 2em;
		width: 80%;
		height: 70%;
	}
	
	.aisle-section .spot-flex{
		display: flex;
		justify-content: center;
		margin: 0;
	}
	
	.navbar li.SignIn a {
		color: var(--primary-color);
		border: 3px solid var(--primary-color);
		font-weight: bold;
		border-radius: 5em;
		margin-top: -.2em;
	}
	
	.navbar li.SignIn a:hover {
		background: var(--primary-color);
		color: white;
	}
}

@media only screen and (min-width: 1080px) {
	
	.navbar2 .item1{
		display:flex;
		justify-content: center;
	}
	
	.navbar2 input[type=text] {
		padding: .3em;
		width: 80%;
	}
	
	.navbar2 .container{
		display: grid;
		grid-template-columns: 31.5% 34.5% auto;
	}
	
	.aisle-section ul{
		padding:0;
		margin:0;
		display: grid;
		grid-template-columns: auto auto auto;
	}
	
	.aisle-section li .spot1 img{
		border: 2px solid black;
		border-radius: 2em;
		width: 80%;
		height: 70%;
	}
	
	.aisle-section .spot-flex{
		display: flex;
		justify-content: center;
		margin: 0;
	}
	
	.info-section{
		padding: 1em 2em 5em 2em;
	}

	.info {
		display: flex;
		justify-content:space-around;
		
	}

	h2 {
	  font-size: 2em;
	}

	ul.know-us{
		margin:0;
		padding-left: .1em;
		display: block;
	}

	ul.know-us li{
		font-size: 1.1em;
		margin-bottom: 1em;
		margin-left:2em;
		position: relative;
		display: block;
	}

	ul.know-us a{
		text-decoration: none;
	}

	ul {
		list-style-type: none;
	}
	
}