@import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);

body {
    background-color: beige ;
    font-family: 'Calibri', sans-serif !important
}


.navbar .container{
	display: flex;
	justify-content: center;
	background-color:
}

.navbar ul {
    padding: 0;
    margin: 1.5em 0 0 0;
}
.navbar li {
    display: inline;
	padding-right: 1em;
	padding-left: 1em;
}

.navbar a {
    text-decoration: none;
	font-size: 1.3em;
	color: green;
}
.navbar a:hover {
	font-weight: bold;
}
.current{
	font-weight: bold;
}




h1{
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.265rem; 
    color: green;
    line-height:2;
    text-align: center;
}
.mt-100 {
    margin-top: 100px
}

.mb-100 {
    margin-bottom: 100px
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid transparent;
    border-radius: 0px
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem
}

.card .card-title {
    position: relative;
    font-weight: 600;
    margin-bottom: 10px
}

.comment-widgets {
    position: relative;
    margin-bottom: 10px
}

.comment-widgets .comment-row {
    border-bottom: 1px solid transparent;
    padding: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10px 0
}

.p-2 {
    padding: 2.5rem !important
}

.comment-text {
    padding-left: 15px
}

.w-100 {
    width: 100% !important
}

.m-b-15 {
    margin-bottom: 15px
}

.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.76563rem;
    line-height: 1.5;
    border-radius: 1px
}

.btn-cyan {
    color: white;
    background-color:#ca841a;
    border-color:#ca841a;
}

.btn-cyan:hover {
    color: black;
    background-color: white;
    border-color: #69be19
}

.comment-widgets .comment-row:hover {
    background: rgba(0, 0, 0, 0.05)
}

.add{
    background: #c3d934;
    background-image: -webkit-linear-gradient(top, #c3d934, #82b82b);
    background-image: -moz-linear-gradient(top, #c3d934, #82b82b);
    background-image: -ms-linear-gradient(top, #c3d934, #82b82b);
    background-image: -o-linear-gradient(top, #c3d934, #82b82b);
    background-image: linear-gradient(to bottom, #c3d934, #82b82b);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Courier New;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
  
.add:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}




