
.ProdContainer{
    display: flex;
    justify-content: center;
    width: 100%;
}

.ProdCont {
    
    flex-direction: row;
    padding: 10px;
    width:70%;
    padding: 20px;
    /* flex-direction: column; */
    display: flex;
    align-items: center;
    align-content: center;
    font-family: revert;
   
}

.cartTable input[type="number" i] {
    padding: 1px 2px;
	width: 70%;
}



@media (max-width:800px){
    .ProdCont{
        flex-direction: column;
    }
    
}

.ProdImgCont {
    height: 75%;
    max-height: 750px;
    width: 50%;
    display: flex;
    justify-content: center;
}

.ProdImg{
    width: 90%;
    border-radius: 23px;
    overflow: hidden;
}

.productImg {
    max-width: 100%;
    max-height: 100%;
    border-radius: 23px;
    image-rendering: -webkit-optimize-contrast;
}
.productImgSteak{
    width: 117%;
    height:80%
}
.ProdDes{
    width: 50%;
    height: auto;
    padding: 0 20px;
}
.Producttitle{
    margin: 0;
    font-size: 30px;
   
}
.priceTag{
    font-size: 20px;
    margin: 0%;
    margin-top: 10px;
}

.AddCart{
    border-radius:100px;
    width: 167px;
    height: 40px;
    background-color: #29a329;
    margin-top: 32px;
    border: 0;
    color: #ffffff;
    cursor: pointer;
}

.quantityBotton{
    width: 55px;
    height: 40px;
    background-color:#f7e29f75;
    margin: 0;
    border: 0;
    padding: 0;
    -moz-appearance: none;
    outline: none;
    text-align: center;
}

.quantityBotton::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.rangeButton{
    border-radius:0 50px 50px 0;
    border: 0;
    height: 40px;
    width: 56px;
    background-color:#29a329;
    font-size:20px;
    color: #ffffff;
    cursor: pointer;
}

.rangeButton:hover, .AddCart:hover,.xBox:hover {
    background-color: #64aa85;

}

.rangeButton:first-of-type {
    border-radius:50px 0 0 50px;
}

.formAction{
    margin-top:20px ;

}
.quantity{
    display: block;
    margin-bottom: 10px;
}
.qunatityContainer{
    display:flex;
    align-items: center;
}
.description{
    max-width: 700px;
}

@media only screen and (max-width: 1080px) {
    .ProdCont {
        width: 95%;
    }

    .ProdImgCont {
        height: 25%;
    }
}

.cartContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px;
   font-family: Arial, Helvetica, sans-serif;
   width: 100%;
   box-sizing: border-box;
}

.cartTable{
    border-collapse: collapse;
    padding: 8px;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px #a5a1a1;
}

.cartTable td, .cartTable th {
    border: 1px solid #a5a1a1;
    padding: 8px;
    text-align: center;
}

.cartTable tr:nth-child(even) {
    background-color:#e6e4de;
}

.cartTable tr:nth-child(odd) {
    background-color: #ffffff;
}

.cartTable th {
    padding-top: 12px;
  padding-bottom: 12px;
  background-color: #29a329;
  color: #ffffff;
}

.cartTable tr:hover {
    background-color: #ccc;
}
.quantityBox{
    -moz-appearance: none;
    margin: 0;
    border-radius: 5px;
    text-align: center;
}
.quantityBox::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.xBox{
    border-radius: 6px;
    cursor: pointer;
    -moz-appearance: none;

}

.contTitle{
    text-align: left;
    width: 95%;
    font-size: 30px;
    margin: 0;
    margin-bottom: 16px;
}
.totalAlign{
    text-align: right;
    width: 75%;
}
.quantityButton{
    cursor: pointer;

}
.quantityButton:hover{
    background-color: #64aa85;
}
.price{
    color: black;
}
.hidden{
    visibility: hidden;
}